@font-face {
font-family: "PlusJakartaSans-ExtraBold";
src: url("assets/fonts/static/PlusJakartaSans-ExtraBold.ttf");
}
@font-face {
font-family: "PlusJakartaSans-Medium";
src: url("assets/fonts/static/PlusJakartaSans-Medium.ttf");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after,*::before{
box-sizing: border-box;
}
input,button{
  font-family: inherit;
}
img{
  display: block;
  width: 40px;
}
body{
  background-color: hsl(205, 33%, 90%);
}
h4{
  font-family: "PlusJakartaSans-ExtraBold";
  font-size: 1.25rem;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.95rem;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header a{
  font-size: 0.85rem;
  font-family: "PlusJakartaSans-Medium";
  color: hsl(219, 12%, 42%);
  text-decoration: none;
}
.header a:hover{
  color: hsl(219, 85%, 26%);
}
.num3{
  background-color: hsl(219, 85%, 26%);
  color: White;
  border-radius: 5px;
  padding: 0 0.65rem;
}
.messages{
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.messages .notfi{
  display: flex;
  grid-gap: 10px;
  padding: 0.54rem;
  flex: 1;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
.messages .notfi div{
  flex: 1;
}
 .messages .newmsg{
  background-color: hsl(211, 68%, 94%);
  padding: 0.86rem 0.86rem;
}
.notfi p:not(span){
color: hsl(219, 12%, 42%);
font-family:"PlusJakartaSans-Medium"
}
.names{
  color: hsl(224, 21%, 14%);
  font-family: "PlusJakartaSans-ExtraBold";
  cursor: pointer;
}
.names:hover{
  color: hsl(219, 85%, 26%);
}
.rizky-msg{
  display: none;
  margin-top: 10px;
  padding: 0.54rem;
  border: 3px solid  hsl(211, 68%, 94%);
  border-radius: 5px;
}
.kimberly{

}
.tournamnet:hover{
  color: hsl(219, 85%, 26%);
}
.tournamnet{
  font-weight: bold;
  cursor: pointer;
}
.time-span{
  color: hsl(219, 12%, 42%);
  font-size: 0.86rem;
  font-weight: lighter;
}
.chess:hover{
  color:hsl(219, 85%, 26%);

}
.chess{
font-weight: bold;
cursor: pointer;
}

@media (max-width:700px){
  .container{
   position: relative;
   margin-top: 380px;
   padding: 4rem 2rem;
   border-radius: 0;
  }
}
